## Match searches with bookings

- For every search in the searches file, find out whether the search ended up in a booking or not (using the info in the bookings file). For instance, search and booking origin and destination should match. 

- For the bookings file, origin and destination are the columns dep_port and arr_port, respectively. 

- Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

1) Get familiar with data
2) Prepare the data for processing

3) Make action plan
4) Develop the code that works with a sample

5) Adjust the code to work with Big data
6) Test big data approach on a sample

7) Run program with big data

## 2) Prepare the data for processing

### Booking

#### We didnt check for duplicates so far... What if the file is has duplicated lines?

# pd.set_option('display.max_columns', None)

In [2]:
%%time
import pandas as pd
fi=pd.read_csv('./searches.csv.bz2', sep="^", 
               low_memory=False, dtype=str, chunksize=1000000)
all_chunks=pd.DataFrame()
for i, chunk in enumerate(fi):
    all_chunks=all_chunks.append(chunk)
    all_chunks.drop_duplicates(inplace=True)
    print (i, len(all_chunks))
    
all_chunks.to_csv('searches.no_dup.csv', sep="^", index=False)

0 358999
1 359003
2 359003
3 359003
4 359003
5 359003
6 359003
7 359003
8 359003
9 359003
10 359003
11 359003
12 359003
13 359003
14 359003
15 359003
16 359003
17 359003
18 359003
19 359003
20 359004
CPU times: user 16min 56s, sys: 39 s, total: 17min 35s
Wall time: 17min 15s

In [3]:
%%time
import pandas as pd
fi=pd.read_csv('./bookings.csv.bz2', sep="^", 
               low_memory=False, dtype=str, chunksize=1000000)
all_chunks=pd.DataFrame()
for i, chunk in enumerate(fi):
    all_chunks=all_chunks.append(chunk)
    all_chunks.drop_duplicates(inplace=True)
    print (i, len(all_chunks))
    
all_chunks.to_csv('bookings.no_dup.csv', sep="^", index=False)

0 1000000
1 1000000
2 1000000
3 1000000
4 1000000
5 1000003
6 1000003
7 1000003
8 1000003
9 1000003
10 1000003
CPU times: user 12min 33s, sys: 25.8 s, total: 12min 59s
Wall time: 12min 49s

In [ ]:
#Action plan
1) seleccionar las columnas de bookings 
    (dep_port, arr_port, 'cre_date           ')
2) arreglar espacios en aeropuertos de bookings
3) drop duplicates de bookings
4) poner fecha en mismo formato (str)
4) crear tabla con todo 1
5) search left join con booking
6) fillna(0)
7) save file

In [4]:
b=pd.read_csv('bookings.no_dup.csv', sep="^", 
              usecols=['dep_port', 'arr_port', 'cre_date           '])
s=pd.read_csv('searches.no_dup.csv', sep="^", low_memory=False)

In [5]:
b.columns=b.columns.str.strip()
b.dep_port=b.dep_port.str.strip()
b.arr_port=b.arr_port.str.strip()

In [6]:
b.dep_port[0], b.arr_port[0]

('ZRH', 'LHR')

In [7]:
b.drop_duplicates(inplace=True)

In [8]:
b.cre_date[0]

'2013-02-22 00:00:00'

In [9]:
s.Date[0]

'2013-01-01'

In [10]:
b.cre_date=b.cre_date.str[:10]

In [11]:
b.cre_date[0]

'2013-02-22'

In [12]:
b['booked']=1

In [13]:
s_b=s.merge(b,
           how='left',
           left_on=['Date', 'Origin', 'Destination'],
           right_on=['cre_date', 'dep_port', 'arr_port'])

In [14]:
len(s), len(s_b)

(359004, 359004)

In [15]:
s_b.shape

(359004, 49)

In [16]:
s_b.drop(['cre_date', 'dep_port', 'arr_port'],axis=1, inplace=True)

In [17]:
s_b.shape

(359004, 46)

In [19]:
s_b[ s_b['booked']==1].head()

           Date      Time  ...   InternetOffice booked
27   2013-01-01  18:33:28  ...              JED    1.0
40   2013-01-01  06:36:57  ...              JED    1.0
59   2013-01-01  07:00:38  ...              SEA    1.0
134  2013-01-01  23:30:44  ...              SYD    1.0
172  2013-01-01  18:34:27  ...              DEL    1.0

[5 rows x 46 columns]

In [20]:
s_b['booked']=s_b['booked'].fillna(0)

In [21]:
s_b=s_b.astype({'booked':int})

In [22]:
s_b.to_csv('searches_with_bookings.csv', sep="^", index=False)

In [23]:
!head ./searches_with_bookings.csv

Date^Time^TxnCode^OfficeID^Country^Origin^Destination^RoundTrip^NbSegments^Seg1Departure^Seg1Arrival^Seg1Date^Seg1Carrier^Seg1BookingCode^Seg2Departure^Seg2Arrival^Seg2Date^Seg2Carrier^Seg2BookingCode^Seg3Departure^Seg3Arrival^Seg3Date^Seg3Carrier^Seg3BookingCode^Seg4Departure^Seg4Arrival^Seg4Date^Seg4Carrier^Seg4BookingCode^Seg5Departure^Seg5Arrival^Seg5Date^Seg5Carrier^Seg5BookingCode^Seg6Departure^Seg6Arrival^Seg6Date^Seg6Carrier^Seg6BookingCode^From^IsPublishedForNeg^IsFromInternet^IsFromVista^TerminalID^InternetOffice^booked
2013-01-01^20:25:57^MPT^624d8c3ac0b3a7ca03e3c167e0f48327^DE^TXL^AUH^1.0^2.0^TXL^AUH^2013-01-26^D2^^AUH^TXL^2013-02-02^D2^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^FRA^0
2013-01-01^10:15:33^MPT^b0af35b31588dc4ab06d5cf2986e8e02^MD^ATH^MIL^0.0^1.0^ATH^MIL^2013-01-04^^^^^^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^KIV^0
2013-01-01^18:04:49^MPT^3561a60621de06ab1badc8ca55699ef3^US^ICT^SFO^1.0^2.0^ICT^SFO^2013-08-02^^^SFO^ICT^2013-08-09^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^NYC^0
2013-01-01^17:42:40^FXP^1864e5e8013d9414150e91d26b6a558b^SE^RNB^ARN^0.0^1.0^RNB^ARN^2013-01-02^DU^W^^^^^^^^^^^^^^^^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^STO^0
2013-01-01^17:48:29^MPT^1ec336348f44207d2e0027dc3a68c118^NO^OSL^MAD^1.0^2.0^OSL^MAD^2013-03-22^^^MAD^OSL^2013-03-31^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^OSL^0
2013-01-01^22:00:28^MPT^3561a60621de06ab1badc8ca55699ef3^US^IAH^BLR^1.0^2.0^IAH^BLR^2013-02-14^^^BLR^IAH^2013-02-23^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^NYC^0
2013-01-01^10:47:14^MPT^d327ca6e35cc6732d4709828327ac7c1^DK^CPH^PAR^1.0^2.0^CPH^PAR^2013-03-02^^^PAR^CPH^2013-03-07^^^^^^^^^^^^^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^CPH^0
2013-01-01^23:39:49^MPT^38a3abb0a28e3f00fa79a11f552a5052^FR^PAR^DUB^1.0^2.0^PAR^DUB^2013-02-12^^^DUB^PAR^2013-02-17^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^PAR^0
2013-01-01^17:08:46^MPT^c8daef4f8bf73a61aa2c928705f7b82d^ES^DUS^ACE^1.0^2.0^DUS^ACE^2013-03-30^^^ACE^DUS^2013-04-06^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^MAD^0