Así leemos un json colgado en internet, en este caso el nuestro

In [1]:
import pandas as pd

In [7]:
df = pd.read_json("http://127.0.0.1:5000/ret_number/100")

In [6]:
df.head()

  arr_port    pax                            AirportName
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport

In [ ]:
# Y así lo tenemos conectado directamente
#Si queremos descargar exportamos el dataframe a csv a nuestro ordenador