## Web Service

http://flask.pocoo.org/docs/0.10/quickstart/

In [1]:
import pandas as pd

In [2]:
df=pd.read_json("http://127.0.0.1:5000/ret_number/100")

In [4]:
df.tail()

   arr_port    pax                              AirportName
95      BLR  13490         Kempegowda International Airport
96      PER  13300                            Perth Airport
97      DUB  12900                           Dublin Airport
98      STL  12760  Lambert–St. Louis International Airport
99      DPS  12740         Ngurah Rai International Airport