# DataScience Challengue

### Ejercicio 1
Count the number of lines in Python for each file

In [1]:
# Usando la Shell
# Si pones "wc -l xxxxx.csv", se puede ver que searches.csv = 20.390.198 líneas y bookings.csv 10.000.011 
# Si pones "wc -w xxxxx.csv", cuenta las palabras
# Más https://www.datacamp.com/community/tutorials/shell-commands-data-scientist

In [101]:
import numpy as np
import pandas as pd

In [3]:
#Aumentar el número de columnas que se muestran para poder ver todas
pd.options.display.max_rows
pd.options.display.max_rows = 70
pd.options.display.max_columns
pd.options.display.max_columns = 40
pd.options.display.max_columns

40

In [4]:
# importando dataset 1
dataset_bookings = pd.read_csv("bookings.csv", sep='^', dtype='unicode')

In [6]:
dataset_bookings.shape

(10000010, 38)

In [ ]:
# importando dataset 2
dataset_bookings = pd.read_csv("bookings.csv", sep='^', dtype='unicode')

In [4]:
#ME QUEDÉ AQUI, Para quitar todos los espacios que hay detrás de valor de un determinada columna, funciona para una sola columna, y para todas??
dataset_bookings['cab_class'] = dataset_bookings['cab_class'].str.strip()
dataset_bookings['cab_class'].unique()

array(['Y', 'C', 'F', '', '2013'], dtype=object)

In [5]:
#Ahora lo mismo pero de todas las 38 columnas, así no funciona porque no puede aplicar a pandas
data_bookings_lim = dataset_bookings.iloc[:,0:38].str.strip()
data_bookings_lim

AttributeError: 'DataFrame' object has no attribute 'str'

In [25]:
#Cuántos valores únicos hay en la columna cab_class
len(dataset_bookings['cab_class'].unique())
#Cuáles son
dataset_bookings['mkt_ctry'].unique()

array(['CHGB    ', 'SVUS    ', 'NZRU    ', ..., 'SRUY    ', 'IDIQ    ',
       'XR,Q        '], dtype=object)

In [ ]:
#inspeccionar tabla
dataset_bookings.shape #Tiene 10 millones de datos en 38 filas
dataset_bookings.iloc[0,0]
dataset_bookings.columns[1:10]
dataset_bookings.loc[0:6]

In [6]:
#Para ver una columna entera
dataset_bookings.iloc[:,0]

0           2013-03-05 00:00:00
1           2013-03-26 00:00:00
2           2013-03-26 00:00:00
3           2013-03-26 00:00:00
4           2013-03-26 00:00:00
                   ...
10000005    2013-05-18 00:00:00
10000006    2013-05-18 00:00:00
10000007    2013-05-28 00:00:00
10000008    2013-05-28 00:00:00
10000009    2013-05-28 00:00:00
Name: act_date           , Length: 10000010, dtype: object

In [76]:
#ME QUEDÉ AQUÍ: Función para quitar espacios, me ha salido!!!
list = ['   sdfasd', 'sdfasdf    '] #prueba
def quit_espac(input):
    strip_list = []
    for i in input:
        strip_list.append(i.strip())
    return strip_list

print(quit_espac(list))

['sdfasd', 'sdfasdf']

In [77]:
#DE UNA FORMA MÁS SUTIL, creo función de quitar espacios en lista (anterior) y luego lo aplico a la lista, 
                                        
#Pasa las columnas a una lista
dataset_bookings_changeindex = dataset_bookings.columns.tolist()
#Coge las columnas con un determinado index
dataset_bookings_changeindex2 = quit_espac(dataset_bookings_changeindex)
#Renombra todas las columnas con la lista cambiada
dataset_bookings.columns = dataset_bookings_changeindex2
dataset_bookings.columns

Index(['act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid', 'rloc',
       'cre_date', 'duration', 'distance', 'dep_port', 'dep_city', 'dep_ctry',
       'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city', 'lst_ctry',
       'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city', 'off_ctry',
       'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route', 'carrier',
       'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax', 'year',
       'month', 'oid'],
      dtype='object')

40

In [50]:
type(dataset_bookings)

pandas.core.frame.DataFrame

In [42]:
#Ver como listas
dataset_col_list = dataset_bookings.columns.tolist()
dataset_val_list = dataset_bookings.values[1].tolist()
dataset_col_list

['act_date',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid',
 'rloc',
 'cre_date',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time',
 'off_time',
 'pax',
 'year',
 'month',
 'oid']

In [39]:
dataset_bookings.values[1:3]

array([['2013-03-26 00:00:00', '1A    ', 'US      ',
        'e612b9eeeee6f17f42d9b0d3b79e75ca',
        '7437560d8f276d6d05eeb806d9e7edee',
        '737295a86982c941f1c2da9a46a14043', '2013-03-26 00:00:00',
        '135270', '0', 'SAL     ', 'SAL     ', 'SV      ', 'CLT     ',
        'CLT     ', 'US      ', 'SAL     ', 'SAL     ', 'SV      ',
        'SAL     ', 'SAL     ', 'SV      ', 'CLT     ', 'CLT     ',
        'US      ', 'CLTSAL  ', 'CLTSAL  ', 'SVUS    ', '1',
        'SALATLCLT      ', 'NV', 'L        ', 'Y        ',
        '2013-04-12 13:04:00', '2013-04-12 22:05:40', '1', '2013', '3',
        'NULL     '],
       ['2013-03-26 00:00:00', '1A    ', 'US      ',
        'e612b9eeeee6f17f42d9b0d3b79e75ca',
        '7437560d8f276d6d05eeb806d9e7edee',
        '737295a86982c941f1c2da9a46a14043', '2013-03-26 00:00:00',
        '135270', '0', 'SAL     ', 'SAL     ', 'SV      ', 'CLT     ',
        'CLT     ', 'US      ', 'SAL     ', 'SAL     ', 'SV      ',
        'CLT     ', 'CLT     ', 'US      ', 'SAL     ', 'SAL     ',
        'SV      ', 'CLTSAL  ', 'CLTSAL  ', 'SVUS    ', '1',
        'CLTATLSAL      ', 'NV', 'U        ', 'Y        ',
        '2013-07-15 07:00:00', '2013-07-15 11:34:51', '1', '2013', '3',
        'NULL     ']], dtype=object)

### Ejercicio 2

Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport
To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port. Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).
Print the top 10 arrival airports in the standard output, including the number of passengers.

In [78]:
# Primer quitar espacios en la columna arr_port
dataset_bookings['arr_port'] = dataset_bookings['arr_port'].str.strip()

In [154]:
# Inspeccionar columnas y sus valores
print(len(dataset_bookings['arr_port'].unique())) #Hay 2275 aeropuertos diferentes
print(dataset_bookings['arr_port'].unique()
print(len(dataset_bookings['pax'].unique()))
print(dataset_bookings['pax'].unique())

SyntaxError: invalid syntax (<ipython-input-154-ad00369e1a9f>, line 4)

In [134]:
values, counts = np.unique(airports_unique, return_counts=True)
values

array(['AAB', 'AAE', 'AAL', ..., 'ZYL', 'ZYN', 'ZYR'], dtype='<U3')

In [80]:
# ¿Hay valores NaN?
print(dataset_bookings.shape)
print(dataset_bookings['pax'].count()) #Sí, pero sólo hay uno.
#¿Cual es?
print(dataset_bookings[dataset_bookings['pax'] == 'nan']) #Creo que es la primera columna

(10000010, 38)
10000009
Empty DataFrame
Columns: [act_date, source, pos_ctry, pos_iata, pos_oid, rloc, cre_date, duration, distance, dep_port, dep_city, dep_ctry, arr_port, arr_city, arr_ctry, lst_port, lst_city, lst_ctry, brd_port, brd_city, brd_ctry, off_port, off_city, off_ctry, mkt_port, mkt_city, mkt_ctry, intl, route, carrier, bkg_class, cab_class, brd_time, off_time, pax, year, month, oid]
Index: []

In [88]:
#Sumar los pasajeros de cada aeropuerto, pero solo de una muestra de 1000
muestra_dataset_bookings = dataset_bookings.loc[0:1000]
print(muestra_dataset_bookings['pax'].sum()) # Salen valores raros, puede ser por el tipo de valor que es
#Para ver el tipo de valor
print(muestra_dataset_bookings['pax'].dtype) #Nos dice que es un tipo objeto necesitamos que sean float
muestra_dataset_bookings['pax']

-11111112222-2-2-2-211111-2222-222-2-22222111-1-122-2-211122-2211-13311-1-12-2-222-2211-111-1-1-1-1111111133-3211-1-111111166-6-661122161111111-11-111331111111111-1-133-33-33-3-31441111112-2-1111-1-1111-11-11-33-33113311-11118-8-113-311122221111-1-1111-1-1-111-1111112-15511111144111111-1-12211-1111-1-122-2-111-1-111-1-1111-11-11-1111-1-133-1-11-1-1-1221122-2-211-1-111-1-1111-111122111-1-2-222-2-111-1-111111-1-1221144-4-466-661-2211-1-11-1-111-1-111-1-1-11331-1111111-1-111-1-1221111-11-11-2211111-1-111-1-111-1-1-3333212111-113311-1-111111111-1111-1-11111-111-1111211-1-1-2-2221111-1-111-1-11122-222111122111111-1-11-311-11-1-1-1-111-1-1-1-1-1-11-22-11-1-311-1-122-2-2111-1-111-133-3-311-1111111-221-112211-11-1-1-2211111-1-1331-1-111-11111-2-111112211-1-111111-1-111111-111111-2211-111111-1-111-1-11111-112211111111123-3-3-2-222-44-44-44-22211-22-2222221111-1-1-2-2-1-11111111111-11-111133-3-3-1-11111111-2-24455-5-5-1-111-1-1111-4-42211-1-11111-11-5-55-511-1-111-11111111-1-111-2-2111111-112-2222-222-2-2-2-2-2-2112211-111111-1-1-1-1222211-1-1133211111-1111111-1-111-1-1111-12-2-211-1-111111-1-11133-3-311-1-11111-1111-1-1-1-111-1122-2-2211-1-11144-4-444-4-4111-1-111-1-111-1-122-2211-1-12211-22-2212222441-2213311-11-1-111-1-122444-4-4-44-4-22111-1111-1-11111144-4-411-1-1111122-1-111-11-11112211-1111-11111-11111-13
object

0       -1
1        1
2        1
3        1
4        1
        ..
996      1
997      1
998      1
999     -1
1000     3
Name: pax, Length: 1001, dtype: object

In [182]:
# Convertir el campo pax a float
muestra_dataset_bookings['pax'] = muestra_dataset_bookings['pax'].astype('int')
print(muestra_dataset_bookings['pax'].dtype)
#Probar la suma otra vez de la muestra
print(muestra_dataset_bookings['pax'].sum())
#Vemos que esté bien y parece que lo está
print(muestra_dataset_bookings['pax'])
print(muestra_dataset_bookings.loc[0:2])
print(muestra_dataset_bookings.dtypes)

int64
535
0      -1
1       1
2       1
3       1
4       1
       ..
996     1
997     1
998     1
999    -1
1000    3
Name: pax, Length: 1001, dtype: int64
              act_date  source  pos_ctry                          pos_iata  \
0  2013-03-05 00:00:00  1A      DE        a68dd7ae953c8acfb187a1af2dcbe123
1  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
2  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca

                            pos_oid                              rloc  \
0  1a11ae49fcbf545fd2afc1a24d88d2b7  ea65900e72d71f4626378e2ebd298267
1  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
2  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043

              cre_date duration distance  dep_port  dep_city  dep_ctry  \
0  2013-02-22 00:00:00     1708        0  ZRH       ZRH       CH
1  2013-03-26 00:00:00   135270        0  SAL       SAL       SV
2  2013-03-26 00:00:00   135270        0  SAL       SAL       SV

  arr_port  arr_city  arr_ctry  lst_port  lst_city  lst_ctry  brd_port  \
0      LHR  LON       GB        ZRH       ZRH       CH        LHR
1      CLT  CLT       US        SAL       SAL       SV        SAL
2      CLT  CLT       US        SAL       SAL       SV        CLT

   brd_city  brd_ctry  off_port  off_city  off_ctry  mkt_port  mkt_city  \
0  LON       GB        ZRH       ZRH       CH        LHRZRH    LONZRH
1  SAL       SV        CLT       CLT       US        CLTSAL    CLTSAL
2  CLT       US        SAL       SAL       SV        CLTSAL    CLTSAL

   mkt_ctry intl            route carrier  bkg_class  cab_class  \
0  CHGB        1  LHRZRH               VI  T          Y
1  SVUS        1  SALATLCLT            NV  L          Y
2  SVUS        1  CLTATLSAL            NV  U          Y

              brd_time             off_time  pax  year month        oid
0  2013-03-07 08:50:00  2013-03-07 11:33:37   -1  2013     3  NULL
1  2013-04-12 13:04:00  2013-04-12 22:05:40    1  2013     3  NULL
2  2013-07-15 07:00:00  2013-07-15 11:34:51    1  2013     3  NULL
act_date     object
source       object
pos_ctry     object
pos_iata     object
pos_oid      object
rloc         object
cre_date     object
duration     object
distance     object
dep_port     object
dep_city     object
dep_ctry     object
arr_port     object
arr_city     object
arr_ctry     object
lst_port     object
lst_city     object
lst_ctry     object
brd_port     object
brd_city     object
brd_ctry     object
off_port     object
off_city     object
off_ctry     object
mkt_port     object
mkt_city     object
mkt_ctry     object
intl         object
route        object
carrier      object
bkg_class    object
cab_class    object
brd_time     object
off_time     object
pax           int64
year         object
month        object
oid          object
dtype: object

/Users/victormac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [179]:
#Ahora vamos a ver la suma de pasajeros de un aeropuesto concreto, funciona!
print(muestra_dataset_bookings['pax'][muestra_dataset_bookings['arr_port'] == 'CLT'].sum())
print(muestra_dataset_bookings['pax'][muestra_dataset_bookings['arr_port'] == 'MAD'].sum())
print(muestra_dataset_bookings['pax'][muestra_dataset_bookings['arr_port'] == 'LCY'].sum())
print(muestra_dataset_bookings['pax'].sum())

5
1
4
535

In [192]:
# ¿Y si probamos de todos los datos?
# Pero antes hay que pasar el pax a int, peeeero me sale ERROR que hay un valor NaN, hay que quitarlo
dataset_bookings['pax'] = dataset_bookings['pax'].astype('int')
print(dataset_bookings['pax'].dtype)

## luego habría que hacer esto: print(dataset_bookings['pax'][dataset_bookings['arr_port'] == 'LCY'].sum())

ValueError: cannot convert float NaN to integer

In [185]:
#Saber en qué fila está los valores NaN y localizamos
nan_rows = dataset_bookings['pax'][dataset_bookings.isnull().any(1)]
nan_rows
#Info: http://exponentis.es/como-encontrar-valores-nan-en-un-dataframe-python-pandas-y-modificarlos

5000007    NaN
5000008      2
Name: pax, dtype: object

In [191]:
#Parece ser este, ME QUEDÉ AQUÍ AHORA HABRÍA QUE CAMBIAR ESE VALOR POR LA MEDIA O MEDIANA(DE ESE AEROPUERTO)
# O ELIMINAR LA FILA Y VOLVER A CALCULAR LA SUMA, A VER SI YA SALE. 
dataset_bookings.loc[5000007]

act_date                  2013-03-25 00:00:00
source                         1V    JP
pos_ctry                                  NaN
pos_iata     a37584d1485cb35991e4ff1a2ba92262
pos_oid                   2013-03-25 00:00:00
rloc                                     8371
cre_date                                   60
duration                             NRT
distance                             TYO
dep_port                             JP
dep_city                             SIN
dep_ctry                             SIN
arr_port                                   SG
arr_city                     HND     TYO
arr_ctry                             JP
lst_port                             NRT
lst_city                             TYO
lst_ctry                             JP
brd_port                             SIN
brd_city                             SIN
brd_ctry                             SG
off_port                             NRTSIN
off_city                             SINTYO
off_ctry                             JPSG
mkt_port                                    1
mkt_city                      NRTSIN
mkt_ctry                         XR,Q
intl                                Y
route                     2013-04-14 11:05:00
carrier                   2013-04-14 17:10:56
bkg_class                                   2
cab_class                                2013
brd_time                                    3
off_time                            NULL
pax                                       NaN
year                                      NaN
month                                     NaN
oid                                       NaN
Name: 5000007, dtype: object

In [178]:
#Para contar cuántos hay de cada aeropuerto, pero no están juntando los duplicados, OJOOOO!
airports_unique = dataset_bookings['arr_port'].unique().tolist()
result = sorted([(x, airports_unique.count(x)) for x in muestra_dataset_bookings['arr_port']], key=lambda y: y[1], reverse =False)
result

AttributeError: 'list' object has no attribute 'shape'