In [3]:
import pandas as pd
df = pd.read_excel('exercise_1.xlsx')

In [4]:
df.describe()

              row  real_value      pred_1     pred_2      pred_3
count  100.000000  100.000000  100.000000  100.00000  100.000000
mean    50.500000  104.290000  107.322000   98.59100   99.327000
std     29.011492   40.253062   47.371473   38.23903   38.197625
min      1.000000   35.000000   30.800000   35.20000   31.500000
25%     25.750000   69.000000   71.550000   66.45000   66.450000
50%     50.500000  106.000000  104.550000   98.50000  101.450000
75%     75.250000  138.250000  144.975000  131.17500  129.825000
max    100.000000  170.000000  204.100000  177.60000  168.000000